*{
    padding: 0;
    margin: 0;
} 
body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;
}
h1 span{
    color: orange;
}
section{
    display: flex;
}
.intro{
    width: 50%;
    padding: 7%;
}
p{
    padding: 20px 0;
}
.intro img{
    width: 100%;
}
.button{
    text-decoration: none;
    background-color: orange;
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    font-weight: 800;
    text-transform: uppercase;
}