*{
    padding: 0;
    margin: 0;
} 
body{
    font-family: 'Nunito', sans-serif;
}
h1{
    font-size: 50px;
}
h1 span{
    color: orange;
    padding-bottom: 5px;
}
p{
    padding: 20px 0;
    margin-bottom: 15px;
}
section{
    display: flex;
}
.first{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    margin-bottom: 30px;
}
.intro{
    width: 50%;
    padding: 7%;
}
.intro img{
    width: 100%;
}
.button{
    text-decoration: none;
    background-image: linear-gradient(#FF9C77, #FF6549);
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    font-weight: 800;
    text-transform: uppercase;
}
.second{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: bottom right;
}
.third{
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
}
.third div{
    width: 50%;
    display: flex;
}