*{
    padding: 0;
    margin: 0;
} 
body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;
}
h1 span{
    color: orange;
    padding-bottom: 5px;
}
.first{
    display: flex;
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    margin-bottom: 30px;
}
.intro{
    width: 50%;
    padding: 7%;
}
p{
    padding: 20px 0;
    margin-bottom: 15px;
}
.intro img{
    width: 100%;
}
.button{
    text-decoration: none;
    background-image: linear-gradient(#FF9C77, #FF6549);
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    font-weight: 800;
    text-transform: uppercase;
}
.second{
    display: flex;
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.intro-t, .intro-m{
    width: 50%;
}
.sec-img{
    width: 80%;
    padding: 0 0 0 75px;
}
.intro-t{
    padding-top: 70px;
    text-align: justify;
    padding-right: 20px;
    padding-left: 10px;
}